<%= form_for @device, :html => { :class => 'form-horizontal' } do |f| %>
  <% if @device.errors.any? %>
    <div class="alert alert-error">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      <h4><%= pluralize(@device.errors.count, "error") %> prohibited this device from being saved:</h4>
      <ul>
      <% @device.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'input-xlarge' %>
    </div>  
  </div>
  <div class="control-group">
    <%= f.label :key, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :key, :class => 'input-xlarge' %>
    </div>  
  </div>
  <div class="form-actions">
    <%= f.button raw('<i class="icon-ok icon-white"></i> Save'), :class => 'btn btn-success' %>
  </div>
<% end %>
